@using Microsoft.AspNet.Identity;
@using bug_tracker.Models;
@model IEnumerable<Ticket>
@{
    ViewBag.Title = "Project Details";
}
<div class="row">
    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-header">
                <h3>
                    <i class="fa fa-folder-open-o"></i>
                    Project
                </h3>
            </div> <!-- /.portlet-header -->
            <div class="portlet-content text-center">
                @ViewBag.Project.Title
                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Global Admin"))
                {
                    <a href="@Url.Action("Edit")"></a>
                }
            </div>
        </div> <!-- /.portlet -->
    </div>
    <div class="col-md-6">
        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Global Admin"))
        {
            <div class="portlet">
                <div class="portlet-header">
                    <h3>
                        <i class="fa fa-edit"></i>
                        Edit Project
                    </h3>
                </div> <!-- /.portlet-header -->
                <div class="portlet-content">
                    <form method="post" action="@Url.Action("Edit")">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="id" name="Id" value="@ViewBag.Project.Id" />
                        <input type="text" class="text-center" id="title" name="Title" placeholder="Enter a new title" />
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div> <!-- /.portlet -->
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-header">
                <h3>
                    <i class="fa fa-users"></i>
                    Users
                </h3>
                <ul class="portlet-tools pull-right">
                    <li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Global Admin"))
                        {
                            <div style="text-align:center">
                                <a href="@Url.Action("Users", new { id = ViewBag.Project.Id})" style="text-decoration:none; color: blue">Manage Users</a>
                            </div>
                        }
                    </li>
                </ul>
            </div> <!-- /.portlet-header -->
            <div class="portlet-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-highlight table-checkable"
                           data-provide="datatable"
                           data-display-rows="10"
                           data-info="true"
                           data-search="true"
                           data-length-change="true"
                           data-paginate="true">
                        <thead>
                            <tr>
                                <th data-filterable="true" data-sortable="true" data-direction="asc">Name</th>
                                <th data-filterable="true" data-sortable="true">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ApplicationUser user in ViewBag.Users)
                            {
                            <tr>
                                    <td>@user.DisplayName</td>
                                    <td>@user.Email</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- /.table-responsive -->
            </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
    </div> <!-- /.col -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-header">
                <h3>
                    <i class="fa fa-ticket"></i>
                    Tickets
                </h3>
                <ul class="portlet-tools pull-right">
                    <li>
                        <a href="@Url.Action("Create", "Ticket", new { id = ViewBag.Project.Id})" class="pull-right"
                           style="text-decoration:none; color: blue;">New</a>
                    </li>
                </ul>
            </div> <!-- /.portlet-header -->
            <div class="portlet-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-highlight table-checkable"
                           data-provide="datatable"
                           data-display-rows="10"
                           data-info="true"
                           data-search="true"
                           data-length-change="true"
                           data-paginate="true">
                        <thead>
                            <tr>
                                <th>Edit</th>
                                <th data-filterable="true" data-sortable="true">Title</th>
                                <th data-filterable="true" data-sortable="true" data-direction="desc">Created Date</th>
                                <th data-filterable="true" data-sortable="true">Status</th>
                                <th data-filterable="true" data-sortable="true">Priority</th>
                                <th data-filterable="true" data-sortable="true">Project</th>
                                <th data-filterable="true" data-sortable="true">Assigned Developer</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Global Admin") || User.IsInRole("Project Manager") || item.AssignedToUserId == User.Identity.GetUserId())
                                        {
                                            <a class="glyphicon glyphicon-pencil pull-right" href="@Url.Action("Edit","Ticket", new { id = item.Id, fromProject = true})"
                                               style="text-decoration:none;"></a>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Ticket", new { id = item.Id })">
                                            @item.Title
                                        </a>
                                    </td>
                                    <td>@item.Created.DateTime</td>
                                    <td>@item.Status.Name</td>
                                    <td>@item.Priority.Name</td>
                                    <td>@item.Project.Title</td>
                                    @if (item.AssignedToUser != null)
                                    {
                                        <td>@item.AssignedToUser.DisplayName</td>
                                    }
                                    else
                                    {
                                        <td>
                                            None Assigned Currently
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- /.table-responsive -->
            </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
    </div> <!-- /.col -->
</div> <!-- /.row -->