@using bug_tracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<body id="login_page">
    <div class="wrapper content">
        <div class="box">
            <!--Begin Login Header-->
            <div class="header">
                <p><img src="~/img/half_width_icon.png" alt="Half Width Box" width="30" height="30" />Login Panel</p>
            </div>
            <!--End Login Header-->
            <div class="body">
                <div class="row">
                    <section id="loginForm" class="col-md-7">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Use a local account to log in.</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control textfield large", id = "textfield" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control textfield large", id = "textfield2" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Log in" class="button2" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>
                        }
                    </section>
                    <div class="col-md-4 pull-right">
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>
                </div>
            </div>
            <div class="info">
                <strong><img src="~/img/iinfo_icon.png" alt="Information" width="28" height="29" class="icon" /></strong>Use a demonstration account.
                
                <a href="#" class="close_notification" title="Click to Close"><img src="~/img/close_icon.gif" width="6" height="6" alt="Close" /></a>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}