@using bug_tracker.Models;
@model Ticket
@{
    ViewBag.Title = "Create Ticket";
    var projArr = ViewBag.Projects;
    List<SelectListItem> projects = new List<SelectListItem>();
    for (var i = 0; i < projArr.Count; i++) {
        projects.Add(new SelectListItem { Value = projArr[i].Id.ToString() , Text = projArr[i].Title });
    }
}
<div class="container">
    <div class="row">
        <h2>Ticket Creation</h2>
    </div>
    <hr />
    <form method="post" action="@Url.Action("Create")" enctype="multipart/form-data" style="margin-left: 30px;">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="height:100px;">
            @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.TextAreaFor(model => model.Desc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            @Html.LabelFor(model => model.PriorityId, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.DropDownListFor(model => model.PriorityId, new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "Low" },
                       new SelectListItem { Value = "2" , Text = "Medium" },
                       new SelectListItem { Value = "3" , Text = "High" }
                    }, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriorityId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            @Html.LabelFor(model => model.TypeId, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.DropDownListFor(model => model.TypeId, new List<SelectListItem> { 
                       new SelectListItem { Value = "1" , Text = "Improvement" },
                       new SelectListItem { Value = "2" , Text = "Bug" },
                       new SelectListItem { Value = "3" , Text = "Aesthetic" }
                    }, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.DropDownListFor(model => model.ProjectId, projects, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <button type="submit">Create Ticket</button>
    </form>
</div>